@import '~office-ui-fabric-react/dist/sass/References.scss';

.form {



  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }
  .btn_add {
    font-size: 18px;
  }

}

// .form .btn_add font-size> 18px{}
